{erl_opts, [debug_info, warn_unused, warn_shadow_vars]}.
{deps, [
    {zotonic_stdlib, "1.27.0"}
]}.


{profiles, [
    {test, [
        {deps, [
            {proper, "1.5.0"}
        ]},

        {xref_checks, [
            undefined_function_calls,
            undefined_functions,
            locals_not_used,
            deprecated_function_calls,
            deprecated_functions
        ]},

        {xref_ignores, [
        ]},

        {dialyzer, [
          {warnings, [
              no_return,
              extra_return,
              missing_return,
              underspecs
          ]},
          {plt_extra_apps, [
              eunit,
              proper
          ]}
        ]}
    ]}
]}.

